html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
}

.gradiant-text {
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: typing-text steps(40) 3s infinite, blink ease 0.3s infinite;
    text-wrap: nowrap;
    display: inline-block;
    width: max-content;
    width: 0;
}

@keyframes typing-text {
    from {
        width: 0%;
    } 
    to {
        width: 350px;
    }
}

@keyframes typing-text {
    to {
        border-color: transparent;
    }
}


.bye {
    animation-name: example;
    animation-duration: 3s;
    position: relative;
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
        display:none
    }

    50% {
        left: 40px;
        top: 0px;
        display:none
    }
    100% {
        left: 0px;
        top: 0px;
    }
}